body {
  display: flex;
  color: var(--text1);
  background-color: var(--background);
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 60%;
  height: 80%;
  padding: 0 10% 0 10%;
  border-radius: 16px;
  background: #678aab;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}

.input-full-line {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.input-full-line label {
  width: 100%;
  font-weight: bold;
}

.input-full-line input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}

.phone {
  width: 32%;
}

.phone label {
  font-weight: bold;
}

.phone input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}

.birth-date {
  width: 32%;
  margin: 0 2% 0 2%;
}

.birth-date label {
  font-weight: bold;
}

.birth-date input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}

.sex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
}

.sex label {
  width: 95%;
  font-weight: bold;
}

select {
  padding: 3% 2% 3% 2%;
  width: 100%;
  border: transparent;
  border-radius: 16px;
  cursor: pointer;
}

.objetivo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 30%;
}

.objetivo label {
  width: 100%;
  font-weight: bold;
}

.objetivo input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}

.btns {
  display: flex;
  flex-wrap: nowrap;
}

.btn-save {
  margin: 1% 0 2% auto;
}


.cep {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.cep label {
  width: 100%;
  font-weight: bold;
}

.cep input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}

.search {
  border-radius: 16px;
  border: 1px solid black;
  background-color: var(--background-input);
}

.input-half-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
  margin-right: 2%;
}

.input-half-1 label {
  width: 100%;
  font-weight: bold;
}

.input-half-1 input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}

.input-half-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
  margin-left: 2%;
}

.input-half-2 label {
  width: 100%;
  font-weight: bold;
}

.input-half-2 input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}

.college {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}

.college label {
  width: 100%;
  font-weight: bold;
}

.college input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}

.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.course label {
  width: 95%;
  font-weight: bold;
}