body {
  display: flex;
  color: var(--text1);
  background-color: var(--background);
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 16px;
  background: #678aab;
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}